<div class="container" style="border: 1px solid red;width: 80%;">

  <form #regiest= ngForm >
    <input ngModel name="username" class="form-control martop" type="text"
           placeholder="用户名" >
    <div ngModelGroup="passwordGroup">
      <input ngModel name="upwd" class="form-control martop" type="text"
             placeholder="密码">
      <input ngModel name="pconfirm" class="form-control martop" type="text"
             placeholder="确认密码">
    </div>
    <input ngModel name="umobile" class="form-control martop" type="text"
           placeholder="手机号">
    <input ngModel name="uaddress" class="form-control martop" type="text"
           placeholder="地址">
  </form>

  <div class="row justify-content-md-center">
    <div class="col-2">
      <button class="btn btn-primary" (click)="onRegiest(regiest.value)">注册</button>
    </div>

</div>
