<div class="card text-center">

  <div class="card-header">
    <span  class= " glyphicon glyphicon-chevron-left"></span>
    轮播区编辑
  </div>
  <div class="card-body">
    <form >
      <label class="flotleft">标题</label>
      <input  [(ngModel)]="carousel.cname"  name="cname"  class="form-control form-control-lg martop"
              type="text" placeholder="标题">
      <label class="flotleft">简介</label>
      <input  [(ngModel)]="carousel.cintro"  name="cintro"  class="form-control form-control-lg martop"
              type="text" placeholder="主题简介">
      <label class="flotleft">图片选择</label>
      <label class="flotleft"></label><div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="onFileChanged($event)">
          <label class="custom-file-label"  >选择图片</label>
        </div>
        <div class="input-group-append">
          <button class="input-group-text" (click)="onUpload()" >上传</button>
        </div>
      </div>

<!--      <input  [(ngModel)]="carousel.ccontent"  name="ccontent"  class="form-control form-control-lg martop"-->
<!--              type="text" placeholder="内容">-->

<p>
  <label class="flotleft">内容编辑</label>
  <br>
</p>
      <ckeditor  [(ngModel)]="carousel.ccontent"  name="ccontent"  debounce="500" [config]="config">

      </ckeditor>
    </form>

    <div >
      <button class="btn btn-primary" (click)="save(carousel)">提交</button>
      <button class="btn btn-danger" (click)="reset()" >重置</button>
    </div>

  </div>

  <div class="card-footer text-muted">
    admin
  </div>
</div>
