<div class="card" style="width:100%;margin-left: 0px;">
  <img [src]=hotrecomment.himage class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><span style="color: #0291df">书名：</span>{{hotrecomment.hname}}</h5>
    <p class="card-text"><span style="color: #0291df">价格：￥</span>{{hotrecomment.hcost}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><span style="color: #0291df">主键：</span>{{hotrecomment.hid}}</li>
    <!--<li class="list-group-item">{{hotrecomment.hintro}}</li>-->
    <li class="list-group-item"><span style="color: #0291df">星数：</span>{{hotrecomment.hstar}}</li>
  </ul>
  <div [innerHTML]="hotrecomment.hintro| tohtml"></div>
  <div class="card-body">
    <button (click)="toList()" class="btn  btn-block btn-primary">返回</button>
    <button (click)="toChange(hotrecomment.hid)"  class="btn btn-block btn-info">修改</button>
  </div>
</div>
