<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link  "  [routerLink]= "['carouselmanage']"> 轮播区管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " [routerLink]="['./hotrecom']" >热卖区管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./bookmanage']">小说类管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./textbookmanage']">教材类管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./otherbookmanage']" tabindex="-1" aria-disabled="true">其他类型书籍管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./orderManage']" tabindex="-1" aria-disabled="true">订单管理</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['./usermanage']" tabindex="-1" aria-disabled="true">用户管理</a>
  </li>
</ul>
<div class="row">
  <router-outlet></router-outlet>
</div>
