<div class="bor">

<div class="container logindiv">
  <div class="row justify-content-md-center" style="position: relative; width:100%;height:300px; left:0px;top:0px;margin-top: 240px;">
    <div class="col-md-6">

      <form #loginf="ngForm">
        <div style="width:100%;text-align: center">
          <span style="width:100%;font-size: 28px;color: rgba(166,158,243,0.99);text-align: center">欢迎登陆迹忆书斋</span>
        </div>
        <div class="form-group">
          <input style="background-color: rgba(235,228,255,0.55);" [(ngModel)]=" u.username" name="username" type="email" class="form-control martop" id="exampleInputEmail1" aria-describedby="emailHelp"
                 placeholder="用户名">
        </div>
        <div class="form-group">
          <input style="background-color: rgba(235,228,255,0.55);" [(ngModel)]="u.upwd" name="upwd" type="password" class="form-control" id="exampleInputPassword1"
                 placeholder="密码">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label"  style="color: white;">记住密码</label>
        </div>
        <button style="background-color: rgba(235,228,255,0.55); border: 1px slateblue solid;" type="submit" class="btn btn-primary" (click)="login(u.username, u.upwd)">登录</button>
        <button style="background-color: rgba(235,228,255,0.55); border: 1px slateblue solid;" type="button" (click)="toRegister()" class="btn btn-primary">注册</button>
      </form>
    </div>

  </div>
</div>
</div>
