.postiongcenter{
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -400px;
  margin-top: -300px;
}
.bor{
  background-color: #000000;
}
.logindiv{
  background: url("../../../assets/imgs/bglogin.jpg");
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  width:100%;
  border:1px solid ;
}
