<div class="container">
  <div class="row">
    <div class=" col-md-4 " style="background: #0f74a8">
      <img [src]="product.himage" width="90%" height="auto" alt="图片加载失败！">
    </div>
    <div class="  col-md-8" style="background: #2e9ad0">
      <h4>
        {{product.hname}}
      </h4>
      <span style="font-size: 12px">{{product.hstar}}</span>
      <div class="row">
        <span style="width: 100%;">原价：￥**元</span>
        现价：<span style="width:80%; color: red;font-size: large">￥{{product.hcost}}元</span>
      </div>
      <br>
      <button class="btn btn-danger" [routerLink]="['/gotoalipay']"> 购买</button>
      <button class="btn btn-primary"> 加入购物车</button>
      <br>
     <br>
      <div class="rounded" >
        <span > 简介</span>
        <hr>
        <div [innerHTML]="product.hintro| tohtml"></div>
      </div>
    </div>
  </div>
  <!--<div style="border-right: 1px solid yellow;width:50px; height:45px;position: fixed; buttom:0px;right:0px;margin-right: 0px;margin-bottom: 40%;background: red"><a href="#">返回顶部</a></div>-->
</div>
