@import "../node_modules/bootstrap/dist/css/bootstrap.css";
.martop{
  margin:20px 0px;
}

.flotleft{
  width:200px;
  font-size: 12px;
  float:left;
  margin:0px;
  padding:0px;
  margin-bottom: 8px;
  margin-left: 10px;
  text-align: left;
}

.manageShowHidden{
  width:60px;
  height:40px;
  overflow: hidden;
}
