`  <!--<div class=" martop">-->
  <!--<ngb-carousel >-->
    <!--<ng-template  *ngFor="let c of carousels">-->
      <!--<img [src]=c.cimg alt="Random first slide">-->
      <!--<div class="carousel-caption">-->
        <!--<h3>{{c.cname}}</h3>-->
        <!--<p>{{c.cintro}}</p>-->
      <!--</div>-->
    <!--</ng-template>-->
  <!--</ngb-carousel>-->
<!--</div>-->

<ngb-carousel *ngIf="images">
  <ng-template ngbSlide *ngFor="let c of carousels">
    <img [src]="c.cimg" alt="Random slide">
    <div class="carousel-caption">
      <h3>{{c.cname}}</h3>
      <p>>{{c.cintro}}</p>
    </div>
  </ng-template>
</ngb-carousel>
